<ul>
  <% sorted_item_list(@event_list['items']).each do |item| %>
  <li>
    <h3><%= item['summary'] %> @ <%= display_start_time(item) %></h3>
    <p><%= item['description'] %></p>
    <p><%= link_to 'view in context', item['htmlLink'] %></p>
  </li>
  <% end %>
</ul>