<h2>My Calendars</h2>

<ul>
  <% @calendars['items'].select { |i| i['accessRole'] == 'owner' }.each do |calendar| %>
  <li>
    <p><%= link_to calendar['summary'], calendar_path(calendar['id']) %>
    <br /><%= auto_link calendar['description'] %></p>
  </li>
  <% end %>
</ul>